body {
    background-color: #1e0d33;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#intro {
    color: rgb(135, 205, 233);
    height: 100vh;
}

#intro h1 {
    font-size: 96px;
    animation: fadein ease-in 3s;
}

#intro h3 {
    opacity: 0;
    animation-name: fadein;
    animation-delay: 1s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

#intro code {
    font-size: 1.75rem;
}

#arrowDown {
    color: rgb(135, 205, 233);
    font-size: 75px;
    position: absolute;
    bottom: 30px;
    left: calc(50% - 37px);
}

#about {
    color: purple;
    background: white;
    padding: 30px;
}

#contact {
    background: rgb(63, 9, 63);
    color: white;
    padding: 30px;
}

#contact a {
    color: white;
}

#email {
    margin-top: 15px;
    margin-botton: 15px;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
}

form .btn-primary {
    width: 100%;
    margin-top: 15px;
    background-color: #124559;
}

#portfolio {
    background-color: #d5e4f5;
    padding: 30px;
}

.navbar {
    background-color: #5340cf !important;
}

footer {
    background-color: black;
    color: white;
    padding: 30px;
}

Section {
    box-shadow: -10px 0 25px #01161e;
    /* border-bottom: 2px solid darkblue; */
}

@media only screen and (max-width: 775px) {
    #intro h1 {
        font-size: 50px;
    }
    #intro h3 {
        font-size: 1.5rem;
    }
}

main {
    background: #7648db;
    color: white;
    padding: 30px;
}

main img {
    border-radius: 10px;
}

.bg-secondary {
    background-color: black !important;
}

.stack {
    padding: 5px;
    background-color: black;
    border-radius: 5px;
    font-weight: bold;
}

code {
    color: rgb(135, 205, 233);
}
